<%- include('header') %>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
           <div class="shadow mt-3 p-2" >
                <form action="/users/new-password-details" method="post">
                    <input type="text" name="passName" class="form-control mb-3" placeholder="project name">
                    <select name="passCat" id="" class="form-control mb-3 ">
                        <option value="">choose category</option>
                        <% if(record.length > 0) { 
                            record.forEach(function(row){
                          %>  
                        <option value="<%= row.pass_category %>"><%= row.pass_category %></option>
                        <% })  } %>
                    </select>
                    <textarea class="form-control" name="passDetails" id="editor1" cols="30" rows="10"></textarea>
                    <button type="submit" class="btn btn-success w-100 mt-2">Submit</button>
                </form>
           </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<script>
    CKEDITOR.replace( 'editor1' );
</script>

<%- include('footer') %>