<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title><%= title %></title>
</head>
<body>
    
<div class="container">
    <div class="row" style="margin: 5% 0 0;" >
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="error">
                <% if(msg != '') { %>
                    <%= msg %>
                <% } %>    
            </div>
            <form action="/register" method="post" style="border: 1px solid #f0f0f0; padding: 20px 10px; background-color: blueviolet" class="shadow">
                <label for="Email" class="text-white"><b>Email</b></label>
                <input type="text" name="email" id="email" class="form-control mt-1 mb-3">
            
                <label for="password" class="text-white"><b>Password</b></label>
                <input type="password" name="pwd" id="pwd" class="form-control mt-1">

                <label for="Cpwd" class="text-white"><b>Confirm Password</b></label>
                <input type="password" name="cpwd" id="pwd" class="form-control mt-1 mb-3">
            
                <label for="name" class="text-white"><b>Username </b></label>
                <input type="text" name="uname" id="name" class="form-control mt-1">

                <label for="phone" class="text-white"><b>Phone No.</b></label>
                <input type="text" name="mob" id="mob" class="form-control mt-1 mb-3">
            
                <!-- <div class="row">
                    <div class="col-md-6">
                        <label for="country" class="text-white"><b>Country</b></label>
                        <select class="form-control">
                            <option value="Choose Country">Choose Country</option>
                            <option value="France">France</option>
                            <option value="America">America</option>
                            <option value="Canada">Canada</option>
                            <option value="India">India</option>
                        </select >
                    </div>
                    <div class="col-md-6">
                        <label for="city" class="text-white"><b>City</b></label>
                        <select class="form-control">
                            <option value="Choose City">Choose City</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Mumabai">Mumbai</option>
                            <option value="sillycon vally">Sillycon Valley</option>
                            <option value="Chennai">Chennai</option>
                        </select >
                    </div>     -->
                <!-- </div> -->
 
                <button class="btn btn-success mt-3 w-100" type="submit" name="save" id="save-btn">Login</button>
            </form>
            <div> <span><a href="/">Already have an account</a></span></div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>